node_modules/
public/chats/
/uploads/
*.jsonl
.DS_Store
public/settings.json
/thumbnails
whitelist.txt
.vscode/**
!.vscode/extensions.json
.idea/
secrets.json
/dist
/backups/
public/movingUI/
public/QuickReplies/
content.log
cloudflared.exe
access.log
/vectors/
/cache/
public/css/user.css
/plugins/
/default/scaffold
